flows/user-data/.nr-flows.json.backup
[{"id":"d6f7e304.eef6a","type":"tab","label":"Token","disabled":false,"info":""},{"id":"f15879aa.930b28","type":"tab","label":"Static Data","disabled":false,"info":""},{"id":"324670d2.c7a49","type":"tab","label":"Suburb","disabled":false,"info":""},{"id":"bad1a38e.5a657","type":"tab","label":"Create Lead","disabled":false,"info":""},{"id":"546fa803.8a60e8","type":"tab","label":"Vehicles","disabled":false,"info":""},{"id":"bf58d146.7106f","type":"tab","label":"Practice Flows","disabled":false,"info":""},{"id":"17fb7e3c.ca2e22","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"_.telesure.co.za","servername":"","verifyservercert":false},{"id":"bb2b15b.8ecede8","type":"http request","z":"d6f7e304.eef6a","name":"","method":"POST","ret":"obj","url":"https://uatnd.telesure.co.za/token/","tls":"17fb7e3c.ca2e22","x":430,"y":100,"wires":[["9f430ef3.c6de3","4f62a8d0.e7a5c8"]]},{"id":"a1289f7f.326e2","type":"http in","z":"d6f7e304.eef6a","name":"Token","url":"token","method":"get","upload":false,"swaggerDoc":"","x":80,"y":100,"wires":[["4bbeaa0e.4d64b4"]]},{"id":"4bbeaa0e.4d64b4","type":"function","z":"d6f7e304.eef6a","name":"Payload","func":"msg.headers = {\n    'Content-Type': 'application/x-www-form-urlencoded'\n};\nmsg.payload = {\n    'grant_type' : \"password\",\n    'client_id' : \"APOLLO - UAT\",\n    'client_secret' : \"password\",\n    'scope' : \"openid\",\n    'username' : \"esbusr16\",\n    'password' : \"password12\"\n\n};\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["bb2b15b.8ecede8","4c519500.2137ac"]]},{"id":"9f430ef3.c6de3","type":"debug","z":"d6f7e304.eef6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":60,"wires":[]},{"id":"327bfc2f.44a4a4","type":"http in","z":"f15879aa.930b28","name":"Titles","url":"/title","method":"get","upload":false,"swaggerDoc":"","x":70,"y":160,"wires":[["19be2e8f.97a441"]]},{"id":"cd5a1fdc.f9e21","type":"function","z":"f15879aa.930b28","name":"Type: Tilte","func":"msg.headers={\n    'Authorization':msg.req.headers.authorization,\n    'correlationId':msg.req.headers.correlationid,\n    'envIdentity':msg.req.headers.envidentity,\n    'userName':msg.req.headers.username,\n    'envOperator': msg.req.headers.envoperator\n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["b175d527.072d88"]]},{"id":"18ff1506.e078db","type":"inject","z":"bf58d146.7106f","name":"","topic":"High Value Injector","payload":"15","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":200,"wires":[["5e19c03b.a273e","4ed29c9f.b7ba94"]]},{"id":"74a81ef9.2052a","type":"inject","z":"bf58d146.7106f","name":"","topic":"Low Value Injector","payload":"9","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["5e19c03b.a273e","4ed29c9f.b7ba94"]]},{"id":"5e19c03b.a273e","type":"switch","z":"bf58d146.7106f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"10","vt":"str"},{"t":"gt","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":220,"wires":[["b4ce1340.ae78","cb5dd1d8.cb45d"],["5db80904.f2c378","cb5dd1d8.cb45d"]]},{"id":"b4ce1340.ae78","type":"change","z":"bf58d146.7106f","name":"low","rules":[{"t":"set","p":"topic","pt":"msg","to":"Low Value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":200,"wires":[["64de9ac9.8a42a4","91550922.4a9fa8"]]},{"id":"5db80904.f2c378","type":"change","z":"bf58d146.7106f","name":"high","rules":[{"t":"set","p":"topic","pt":"msg","to":"High Value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":240,"wires":[["64de9ac9.8a42a4","91550922.4a9fa8"]]},{"id":"64de9ac9.8a42a4","type":"function","z":"bf58d146.7106f","name":"Store Value","func":"msg.value = msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":220,"wires":[["a0fffb4f.ab7ff8","770774e0.5cea2c"]]},{"id":"a0fffb4f.ab7ff8","type":"template","z":"bf58d146.7106f","name":"Make it pretty","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"The new value is: {{topic}} and quals to {{payload}} !","output":"str","x":880,"y":220,"wires":[["155cdf93.0cca2","f5f064eb.325a38"]]},{"id":"155cdf93.0cca2","type":"debug","z":"bf58d146.7106f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1070,"y":220,"wires":[]},{"id":"4ed29c9f.b7ba94","type":"debug","z":"bf58d146.7106f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":180,"y":120,"wires":[]},{"id":"91550922.4a9fa8","type":"debug","z":"bf58d146.7106f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":600,"y":120,"wires":[]},{"id":"cb5dd1d8.cb45d","type":"debug","z":"bf58d146.7106f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":120,"wires":[]},{"id":"770774e0.5cea2c","type":"debug","z":"bf58d146.7106f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"value","x":810,"y":120,"wires":[]},{"id":"f5f064eb.325a38","type":"debug","z":"bf58d146.7106f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":120,"wires":[]},{"id":"4a0a90f1.040f3","type":"inject","z":"bf58d146.7106f","name":"Enter the Data","topic":"Nice Topic","payload":"This is my second flow","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["8d8596c6.13d1c8"]]},{"id":"ab1b15eb.f08b58","type":"debug","z":"bf58d146.7106f","name":"BEFORE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":360,"wires":[]},{"id":"cdec084d.1c9948","type":"template","z":"bf58d146.7106f","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the NEW payload: {{payload}} !","output":"str","x":540,"y":320,"wires":[["592ee48e.f9ea2c"]]},{"id":"76ead1cd.e7f6","type":"switch","z":"bf58d146.7106f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":90,"y":460,"wires":[[]]},{"id":"592ee48e.f9ea2c","type":"debug","z":"bf58d146.7106f","name":"AFTER","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":760,"y":320,"wires":[]},{"id":"cd12ad59.43996","type":"change","z":"bf58d146.7106f","name":"","rules":[{"t":"move","p":"topic","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":420,"wires":[[]]},{"id":"719be4f7.eb282c","type":"change","z":"bf58d146.7106f","name":"new property","rules":[{"t":"set","p":"new","pt":"msg","to":"I have used a change node to add a custom property","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":110,"y":380,"wires":[[]]},{"id":"8d8596c6.13d1c8","type":"function","z":"bf58d146.7106f","name":"new property","func":"let x = \"I have used a function node to add a custom property\"\nmsg.new = x;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":320,"wires":[["cdec084d.1c9948","ab1b15eb.f08b58"]]},{"id":"dbfbbf90.b5749","type":"inject","z":"bf58d146.7106f","name":"","topic":"","payload":"This is a message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":560,"wires":[["d846a925.7fd948"]]},{"id":"d846a925.7fd948","type":"function","z":"bf58d146.7106f","name":"counter","func":"var count = context.get('counter') || 0; //create the counter var and assign 0\ncount += 1; // iterate +1\nmsg.payload = msg.payload+\" \"+count; // set new payload\ncontext.set('counter', count); // save the count in the counter variable\nmsg.count = context.get('counter');\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":560,"wires":[["f07562ab.bb021"]]},{"id":"f07562ab.bb021","type":"debug","z":"bf58d146.7106f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":560,"wires":[]},{"id":"fd178e84.2ae73","type":"inject","z":"bf58d146.7106f","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":680,"wires":[["29de0318.81814c"]]},{"id":"29de0318.81814c","type":"function","z":"bf58d146.7106f","name":"get msg","func":"var x = flow.get('storeIt');\nmsg.payload = x;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":680,"wires":[["df1a0817.c8c5c8"]]},{"id":"df1a0817.c8c5c8","type":"debug","z":"bf58d146.7106f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":680,"wires":[]},{"id":"2386cdec.c91042","type":"inject","z":"bf58d146.7106f","name":"","topic":"","payload":"This is a message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":620,"wires":[["c2e32627.dfe1a8"]]},{"id":"c2e32627.dfe1a8","type":"function","z":"bf58d146.7106f","name":"send msg","func":"flow.set('storeIt', msg.payload); \nreturn msg;","outputs":1,"noerr":0,"x":340,"y":620,"wires":[[]]},{"id":"4a2a8363.8aad5c","type":"comment","z":"bf58d146.7106f","name":"Global","info":"Instead of \"flow\", you can use \"global\" for global scope","x":490,"y":620,"wires":[]},{"id":"fc02291a.295b78","type":"file in","z":"bf58d146.7106f","name":"Read File","filename":"save.txt","format":"utf8","chunk":false,"sendError":false,"x":400,"y":880,"wires":[["1329f3d7.cc76fc"]]},{"id":"6e20f772.1bc118","type":"file","z":"bf58d146.7106f","name":"Save to File","filename":"save.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":390,"y":800,"wires":[["84a610c1.d2254"]]},{"id":"def9b1c8.bc2d4","type":"inject","z":"bf58d146.7106f","name":"","topic":"","payload":"Node Red is cool","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":800,"wires":[["6e20f772.1bc118"]]},{"id":"8a883a0c.855438","type":"inject","z":"bf58d146.7106f","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":880,"wires":[["fc02291a.295b78"]]},{"id":"84a610c1.d2254","type":"debug","z":"bf58d146.7106f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":800,"wires":[]},{"id":"1329f3d7.cc76fc","type":"debug","z":"bf58d146.7106f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":880,"wires":[]},{"id":"4c519500.2137ac","type":"debug","z":"d6f7e304.eef6a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":160,"wires":[]},{"id":"4f62a8d0.e7a5c8","type":"http response","z":"d6f7e304.eef6a","name":"","statusCode":"","headers":{},"x":610,"y":100,"wires":[]},{"id":"c573c5fb.af6048","type":"http in","z":"f15879aa.930b28","name":"Marital Status","url":"/ms","method":"get","upload":false,"swaggerDoc":"","x":90,"y":220,"wires":[["40cb4ce9.813394"]]},{"id":"40cb4ce9.813394","type":"function","z":"f15879aa.930b28","name":"MS","func":"msg.url='https://uatnd.telesure.co.za/api/v1/static/cache/static/generalB?generalType=MS&languageIndicator=EN';\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["cd5a1fdc.f9e21"]]},{"id":"19be2e8f.97a441","type":"function","z":"f15879aa.930b28","name":"TI","func":"msg.url='https://uatnd.telesure.co.za/api/v1/static/cache/static/generalB?generalType=TI&languageIndicator=EN';\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":160,"wires":[["cd5a1fdc.f9e21"]]},{"id":"1391a023.71488","type":"http response","z":"f15879aa.930b28","name":"","statusCode":"","headers":{},"x":850,"y":240,"wires":[]},{"id":"b175d527.072d88","type":"http request","z":"f15879aa.930b28","name":"","method":"GET","ret":"obj","url":"","tls":"17fb7e3c.ca2e22","x":650,"y":240,"wires":[["1391a023.71488","3ba6eb54.4ca874"]]},{"id":"3ba6eb54.4ca874","type":"debug","z":"f15879aa.930b28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":160,"wires":[]},{"id":"27eb3ccf.daeaa4","type":"http in","z":"f15879aa.930b28","name":"Additional","url":"additional","method":"get","upload":false,"swaggerDoc":"","x":80,"y":280,"wires":[["63611327.25c60c"]]},{"id":"63611327.25c60c","type":"function","z":"f15879aa.930b28","name":"Add","func":"msg.url='https://uatnd.telesure.co.za/api/v1/static/cache/static/persons/additional?languageIndicator=EN';\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["cd5a1fdc.f9e21"]]},{"id":"40d56a54.8bf164","type":"http in","z":"bad1a38e.5a657","name":"Create Lead","url":"createlead","method":"post","upload":false,"swaggerDoc":"","x":90,"y":160,"wires":[["dba0bad0.37fe68"]]},{"id":"8e711365.da179","type":"http request","z":"bad1a38e.5a657","name":"","method":"POST","ret":"obj","url":"https://uatnd.telesure.co.za/api/v1/sales/quotes","tls":"17fb7e3c.ca2e22","x":450,"y":160,"wires":[["3bd3644c.fc990c","a07daa10.812db8"]]},{"id":"3bd3644c.fc990c","type":"http response","z":"bad1a38e.5a657","name":"","statusCode":"","headers":{},"x":650,"y":160,"wires":[]},{"id":"a07daa10.812db8","type":"debug","z":"bad1a38e.5a657","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":80,"wires":[]},{"id":"9727cb47.6aa478","type":"function","z":"324670d2.c7a49","name":"Type: Tilte","func":"msg.headers={\n    'Authorization':msg.req.headers.authorization,\n    'correlationId':msg.req.headers.correlationid,\n    'envIdentity':msg.req.headers.envidentity,\n    'userName':msg.req.headers.username,\n    'envOperator': msg.req.headers.envoperator\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["12fa2156.d9becf"]]},{"id":"2f2bea61.f7efd6","type":"http response","z":"324670d2.c7a49","name":"","statusCode":"","headers":{},"x":770,"y":200,"wires":[]},{"id":"12fa2156.d9becf","type":"http request","z":"324670d2.c7a49","name":"","method":"GET","ret":"obj","url":"","tls":"17fb7e3c.ca2e22","x":590,"y":200,"wires":[["2f2bea61.f7efd6","18ebf64b.5b5b2a"]]},{"id":"18ebf64b.5b5b2a","type":"debug","z":"324670d2.c7a49","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":120,"wires":[]},{"id":"b9189766.597248","type":"http in","z":"324670d2.c7a49","name":"Suburb","url":"suburb","method":"get","upload":false,"swaggerDoc":"","x":70,"y":200,"wires":[["2f95bb1d.9d8004"]]},{"id":"2f95bb1d.9d8004","type":"function","z":"324670d2.c7a49","name":"suburb","func":"var area= msg.req.headers.suburb\nmsg.url=`https://uatnd.telesure.co.za/api/v1/static/suburbs/${area}`;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":200,"wires":[["9727cb47.6aa478"]]},{"id":"ebad19e4.313db8","type":"http in","z":"f15879aa.930b28","name":"Area Type","url":"areatype","method":"get","upload":false,"swaggerDoc":"","x":80,"y":340,"wires":[["412d2257.37e62c"]]},{"id":"412d2257.37e62c","type":"function","z":"f15879aa.930b28","name":"AreaType","func":"msg.url='https://uatnd.telesure.co.za/api/v1/static/cache/static/vehicles';\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":340,"wires":[["cd5a1fdc.f9e21"]]},{"id":"dba0bad0.37fe68","type":"function","z":"bad1a38e.5a657","name":"post lead","func":"msg.headers={\n    'Authorization':msg.req.headers.authorization,\n    'correlationId':msg.req.headers.correlationid,\n    'envIdentity':msg.req.headers.envidentity,\n    'userName':msg.req.headers.username,\n    'envOperator': msg.req.headers.envoperator\n}\nmsg.payload= msg.req.body;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["8e711365.da179"]]},{"id":"f1b494b0.257228","type":"function","z":"546fa803.8a60e8","name":"Headers","func":"msg.headers={\n    'Authorization':msg.req.headers.authorization,\n    'correlationId':msg.req.headers.correlationid,\n    'envIdentity':msg.req.headers.envidentity,\n    'userName':msg.req.headers.username,\n    'envOperator': msg.req.headers.envoperator\n}\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["dbea8d1e.c1bba"]]},{"id":"a510e0c8.d3a86","type":"http response","z":"546fa803.8a60e8","name":"","statusCode":"","headers":{},"x":870,"y":220,"wires":[]},{"id":"dbea8d1e.c1bba","type":"http request","z":"546fa803.8a60e8","name":"","method":"GET","ret":"obj","url":"","tls":"17fb7e3c.ca2e22","x":690,"y":220,"wires":[["a510e0c8.d3a86","99f16bce.7c8138"]]},{"id":"99f16bce.7c8138","type":"debug","z":"546fa803.8a60e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":160,"wires":[]},{"id":"46a23e0a.2d51a","type":"http in","z":"546fa803.8a60e8","name":"Year","url":"vehicle","method":"get","upload":false,"swaggerDoc":"","x":90,"y":140,"wires":[["bac9a2cb.7a67c"]]},{"id":"bac9a2cb.7a67c","type":"function","z":"546fa803.8a60e8","name":"Year","func":"msg.url='https://uatnd.telesure.co.za/api/v1/static/vehicles/year?requestParm=V';\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":140,"wires":[["f1b494b0.257228"]]},{"id":"210679b1.0b6496","type":"function","z":"546fa803.8a60e8","name":"Make","func":"var year = msg.req.headers.year;\nmsg.url=`https://uatnd.telesure.co.za/api/v1/static/vehicles/make?year=${year}&typeCode=VM`;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["f1b494b0.257228"]]},{"id":"74653ff5.e3d6f","type":"function","z":"546fa803.8a60e8","name":"Model","func":"var year = msg.req.headers.year;\nvar make = msg.req.headers.make;\nmsg.url=`https://uatnd.telesure.co.za/api/v1/static/vehicles/model?year=${year}&typeCode=VM&manufacturer=${make}`;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":260,"wires":[["f1b494b0.257228"]]},{"id":"2cfa5af4.0571d6","type":"function","z":"546fa803.8a60e8","name":"Description","func":"var year = msg.req.headers.year;\nvar make = msg.req.headers.make;\nvar model = msg.req.headers.model;\nmsg.url=`https://uatnd.telesure.co.za/api/v1/static/cache/static/vehicles/vehicleMakes?queryType=MODEL&manufacturerCode=${make}&year=${year}&modelCode=${model}`;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["f1b494b0.257228"]]},{"id":"9aaa1344.4a456","type":"http in","z":"546fa803.8a60e8","name":"Make","url":"make","method":"get","upload":false,"swaggerDoc":"","x":90,"y":200,"wires":[["210679b1.0b6496"]]},{"id":"6dcab.cb5af3554","type":"http in","z":"546fa803.8a60e8","name":"Model","url":"model","method":"get","upload":false,"swaggerDoc":"","x":90,"y":260,"wires":[["74653ff5.e3d6f"]]},{"id":"e02a3242.4eddc","type":"http in","z":"546fa803.8a60e8","name":"Description","url":"description","method":"get","upload":false,"swaggerDoc":"","x":100,"y":320,"wires":[["2cfa5af4.0571d6"]]}]